@import "tailwindcss/tailwind.css";

@font-face {
  font-family: 'FontHeading';
  src: url('./fonts/FormulaCondensed-Bold/FormulaCondensed-Light.otf') format('opentype');
}

@font-face {
  font-family: 'FontHeading';
  src: url('./fonts/FormulaCondensed-Bold/FormulaCondensed-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'FontBody';
  src: url('./fonts/Circular_std/CircularStd-Book.eot');
  src: url('./fonts/Circular_std/CircularStd-Book.woff') format('woff'),
        url('./fonts/Circular_std/CircularStd-Book.woff2') format('woff2');
}

body{
  font-family: 'FontBody', Fallback, sans-serif;
  color: #E3E3FD;
  background-color: #17002C;
  font-size: 18px;
}

.font-heading{
  font-family: 'FontHeading', Fallback, sans-serif;
}

.btn-primary{
  background: linear-gradient(180deg, #D3B1FD -230.71%, #6F02FD 109.02%);
  box-shadow: 0px 24px 30px rgba(66, 15, 133, 0.2);
}
.btn-primary:hover{
  background: linear-gradient(180deg, #D3B1FD -230.71%, #4E00B4 109.02%);
}